.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, class: :text_field
  %span.description Ex: title of static

.group
  =f.label :path
  =f.error_message_on :path
  =f.text_field :path, class: :text_field
  %span.description Ex: path to static

.group
  =f.label :body
  =f.error_message_on :body
  ~f.text_area :body, class: :text_field, rows: 20, cols: 60
  %span.description Ex: body of static

.group
  =f.label :text_tags
  =f.error_message_on :text_tags
  =f.text_field :text_tags, class: :text_field
  %span.description Ex: tags of static separated by ;

.group
  =f.label :weight
  =f.error_message_on :weight
  =f.text_field :weight, class: :text_field
  %span.description Ex: weight of the static for sorting and ordering purposes


.group.navform.wat-cf
  =f.submit pat(:save), class: :button
  =f.submit pat(:cancel), onclick: "window.location='#{url(:statics, :index)}';return false", class: :button
