!!! 5
%html
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=1024")
    %title
      =@configuration.title if @configuration
      -
      = @title
  %body
    #container
      %header
        %nav#menu
          %h1=@configuration.title if @configuration
          %ul=menu_items

      #main(role='main')
        %h2=@title
        =yield

      %footer
