!!! 5
%html
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=1024")
    %title
      =@configuration.title if @configuration
      -
      = @title
    %link(rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all")
  %body
    #container
      %header
        %h1=@configuration.title if @configuration
        %nav#menu
          %ul=menu_items

      #main(role='main')
        %h2=@title
        =yield

      %footer
        =@configuration.parts['footer'] if @configuration
