!!! 5
%html
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=1024")
    %title= @title
  %body
    #container
      %header
        %nav#menu
          %ul
            =menu_items

      #main(role='main')
        %h2=@title
        =yield

      %footer
